@model JccbIncomeExpense.Models.Catexpense

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    .form-control {
        display: block;
        width: 350px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

 

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit" asp-route-id="@Model.CatexpenseId" onsubmit="return jQueryAjaxPost(this);">
          
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatexpenseId" />
            <div class="form-group">
                <label asp-for="Excategory" class="control-label"></label>
                <input asp-for="Excategory" class="form-control" />
                <span asp-validation-for="Excategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
