@model JccbIncomeExpense.Models.Infoincome

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    .form-control {
        display: block;
        width: 350px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<h1>Create</h1>

<h4>Infoincome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Incomename" class="control-label"></label>
                <input asp-for="Incomename" class="form-control" />
                <span asp-validation-for="Incomename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleAmount" class="control-label"></label>
                <input asp-for="SaleAmount" class="form-control" />
                <span asp-validation-for="SaleAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
                <label asp-for="Icategory" class="control-label"></label>
                <input asp-for="Icategory" class="form-control" />
                <span asp-validation-for="Icategory" class="text-danger"></span>
            </div>
            *@


            <div class="form-group">
                <label asp-for="Icategory" class="control-label"></label>
                @* <input asp-for="CategoryName" class="form-control" />*@

                <select asp-for="Icategory" class="form-control" asp-items="ViewBag.CategoryName">
                    <option value=""> --- Select Option ---</option>
                </select>

                <span asp-validation-for="Icategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dated" class="control-label"></label>
                <input asp-for="Dated" class="form-control" />
                <span asp-validation-for="Dated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
